.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  display: flex;
  padding-top: 35px;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-list {
  list-style-type: none;
}

body {
  font-family: sans-serif;
  padding: 0;
  background-color: #282c34;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: #61dafb;
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.game-info {
  margin-left: 20px;
}
